@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --am-esg-orange: #f3c342;
  --am-esg-white-100: #e6e6e6;
  --am-esg-white: #fffdfa;
  --am-esg-gray: #5f5d5a;
  --am-esg-black: #111111;
  --am-esg-green: #09cb7a;
  --am-esg-container: calc(1192px + 48px);
  --am-esg-header: 62px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    color: var(--am-esg-green);
  }
  &::-webkit-scrollbar-thumb {
    border: 1px solid var(--am-esg-green);
    border-radius: 4px;
    background: var(--am-esg-green);
  }
}

html {
  font-size: 16px;
}
body {
  background-color: var(--am-esg-white-100);
  color: var(--am-esg-black);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
  -webkit-appearance: none;
}

.am-esg {
  &-logo {
    font-size: 1.4rem;
    letter-spacing: -2px;
    font-weight: 600;
    color: var(--am-esg-black);
    text-decoration: none;
  }
  &-revealer {
    width: 100%;
    border-bottom: 1px solid var(--am-esg-black);
    & > .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      padding: 16px 0;
      & > i {
        width: 15px;
        height: 2px;
        background-color: var(--am-esg-black);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: var(--am-esg-black);
          transform: rotate(90deg);
        }
        &.active {
          transform: rotate(135deg);
        }
      }
    }
    & > .body {
      transform: scale(0);
      height: 0;
      &.active {
        padding-bottom: 16px;
        transform: scale(1);
        height: max-content;
      }
    }
  }
  &-header {
    background-color: var(--am-esg-white);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    & > .container {
      width: min(var(--am-esg-container), 100%);
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      padding: 12px 24px;
      & > .left {
        & > .logo {
          font-size: 1.4rem;
          letter-spacing: -2px;
          font-weight: 600;
          color: var(--am-esg-black);
          text-decoration: none;
        }
      }
      & > .right {
        display: flex;
        align-items: center;
        gap: 12px;
        & > a {
          text-decoration: none;
          color: var(--am-esg-black);
          opacity: 0.5;
          font-size: 1rem;
          font-weight: 500;
          &:hover,
          &.active {
            opacity: 1;
          }
        }
      }
    }
  }
  &-process {
    width: min(var(--am-esg-container), 100%);
    margin: 0 auto;
    padding: 56px 48px;
    min-height: 100dvh;
    & > nav {
      & > button {
        border: none;
        outline: none;
        padding: 12px 16px;
        border-radius: 12px 12px 0 0;
        background-color: transparent;
        &.active {
          background-color: var(--am-esg-white);
          color: var(--am-esg-green);
        }
      }
    }
    & > main {
      background-color: var(--am-esg-white);
      padding: 24px;
      border-radius: 0 12px 12px;
      & > .process-form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        & > .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 24px;
          & > h1 {
            font-size: 20px;
            font-weight: 600;
          }
          & > .chip {
            display: flex;
            align-items: center;
            gap: 4px;
            background-color: var(--am-esg-white-100);
            border: 1px solid var(--am-esg-green);
            border-radius: 16px;
            padding: 4px 8px;
            font-size: 12px;
            & > * {
              color: var(--am-esg-green);
            }
          }
        }
        & > .line {
          width: 100%;
          height: 1px;
          background-color: var(--am-esg-black);
        }
        & > .name {
          font-size: 18px;
          font-weight: 500;
          &-2 {
            color: var(--am-esg-gray);
          }
        }
        & > .value {
          padding: 12px 16px;
          border-radius: 16px;
          border: 1px solid var(--am-esg-black);
        }
        & > .metadata-container {
          display: flex;
          align-items: center;
          gap: 12px;
          & > .metadata {
            display: flex;
            flex-direction: column;
            gap: 4px;
            background-color: var(--am-esg-white-100);
            border: 1px solid var(--am-esg-green);
            border-radius: 16px;
            padding: 12px 16px;
            font-size: 12px;
            font-size: 14px;
            & > h3 {
              color: var(--am-esg-green);
              font-weight: 500;
            }
            & > p {
            }
          }
        }
        & > .table-container {
          width: 100%;
          overflow-x: auto;
          background-color: var(--am-esg-white-100);
          padding: 20px 24px;
          border-radius: 16px;
          & > table {
            border-collapse: collapse;
            & > * > tr {
              & > * {
                white-space: nowrap;
                padding: 4px 16px;
                text-align: center;
                border: none;
                border-bottom: 1px solid var(--am-esg-black);
              }
            }
          }
        }
        & > ul {
          list-style: inside;
          & > li {
            font-size: 14px;
            font-weight: 500;
          }
        }
        & > .buttons {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 16px;
          & > button {
            padding: 8px 24px;
            font-weight: 500;
            font-size: 1rem;
            background-color: var(--am-esg-green);
            color: var(--am-esg-white);
            border: none;
            border-radius: 24px;
          }
        }
      }
    }
  }
  &-signature {
    width: min(var(--am-esg-container), 100%);
    margin: 0 auto;
    display: flex;
    gap: 24px;
    padding: 56px 48px;
    min-height: 100dvh;
    & > main {
      flex: 3;
      display: flex;
      flex-direction: column;
      gap: 24px;
      background-color: var(--am-esg-white);
      padding: 16px;
      border-radius: 8px;
      & > .step {
        display: flex;
        gap: 4px;
        & > .indicator {
          display: flex;
          flex-direction: column;
          color: var(--am-esg-orange);
          position: relative;
          & > .icon {
            font-size: 1.325rem;
            box-sizing: content-box;
            border: 5px solid var(--am-esg-white);
            background-color: var(--am-esg-white);
            position: static;
            border-radius: 50%;
            z-index: 2;
          }
          & > span {
            position: absolute;
            top: 0;
            left: 50%;
            height: 130%;
            width: 10px;
            transform: translate(-50%, 10%);
            background-color: var(--am-esg-orange);
            z-index: 1;
          }
          &.active {
            & > .icon {
              color: var(--am-esg-green);
            }
            & > span {
              background-color: var(--am-esg-green);
            }
          }
        }
        &:last-child {
          & > .indicator {
            & > span {
              height: calc(100% - 10%);
            }
          }
        }
        & > .content {
          & > h2 {
            font-size: 1.4rem;
          }
          & > p {
            font-size: 1.125rem;
          }
        }
      }
    }
    & > aside {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 24px;
      background-color: var(--am-esg-white);
      padding: 24px;
      border-radius: 8px;
      & > .icon {
        font-size: 2rem;
        margin: 0 auto;
        text-align: center;
      }
      & > .title {
        font-size: 2.5rem;
        text-align: center;
      }
      & > .contract {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: space-between;
        & > .content {
          font-size: 1rem;
          display: flex;
          flex-direction: column;
          gap: 16px;
          & > .rating {
            & > .stars {
              display: flex;
              & > span {
                color: var(--am-esg-white-100);
                &.active {
                  color: var(--am-esg-green);
                }
              }
            }
          }
        }
        & > .signs {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 24px;
          background-color: var(--am-esg-white);
          position: sticky;
          bottom: 12px;
          left: 0;
          right: 0;
          & > .sign {
            padding: 8px 24px;
            border: none;
            outline: none;
            // border-radius: 8px;
            color: var(--am-esg-orange);
            font-size: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            border-bottom: 2px solid var(--am-esg-orange);
            &.active {
              color: var(--am-esg-green);
              border-bottom: 2px solid var(--am-esg-green);
            }
          }
        }
      }
    }
  }
  &-marketplace {
    width: min(1440px, 100%);
    margin: 0 auto;
    background-color: var(--am-esg-white);
    /* padding: 56px;
  @media (max-width: 670px) {
    padding: 56px 24px;
  } */
    & > .prod {
      display: grid;
      /* width: 100%; */
      grid-template-columns: 1fr 1fr;
      @media (max-width: 670px) {
        grid-template-columns: 1fr;
      }
      & > .prod-image {
        position: relative;
        /* width: 100%; */
        & > .prod-image-cover {
          width: 99%;
          aspect-ratio: 1/1;
          cursor: pointer;
          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        & > .prod-images {
          width: 100%;
          height: 120px;
          /* margin-top: 16px; */
          overflow-x: hidden;
          position: relative;

          & > .prod-images-con {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-wrap: nowrap;
            gap: 16px;
            padding: 12px;
            overflow-x: auto;
            /* @media (max-width: 670px) {
            width: 100dvw;
          } */
            & > button {
              width: 80px;
              aspect-ratio: 9/10;
              & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }
      }
      & > .prod-data {
        padding: 56px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        @media (max-width: 670px) {
          padding: 56px 24px;
        }
        & > h1 {
          font-size: 1.8rem;
          text-transform: capitalize;
          font-weight: 600;
        }
        & > .pAndR {
          & > h2 {
            & > span {
              font-size: 0.9rem;
              color: var(--am-esg-gray);
              text-decoration: line-through;
            }
          }
        }
        & > .prod-data-colors {
          display: flex;
          gap: 16px;
          flex-wrap: wrap;
          align-items: center;
          & > button {
            padding: 8px 24px;
            border-radius: 24px;
            background-color: var(--am-esg-white-100);
            font-weight: 700;
            &.active {
              background-color: var(--am-esg-green);
            }
          }
        }
        & > .prod-data-sizes {
          display: flex;
          gap: 16px;
          flex-wrap: wrap;
          align-items: center;
          & > button {
            padding: 8px 24px;
            border: 1px solid var(--am-esg-black);
            font-weight: 700;
            &.active {
              background-color: var(--am-esg-black);
              color: var(--am-esg-green);
            }
          }
        }
        & > .prod-data-addToCart {
          padding: 16px 24px;
          border-radius: 24px;
          background-color: var(--am-esg-green);
          font-weight: 700;
          font-size: 1.1rem;
          &:disabled {
            background-color: var(--am-esg-gray);
            cursor: progress;
          }
        }
        & > .zoom-canvas {
          position: absolute;
          top: 5px;
          left: 1px;
          width: 99%;
          aspect-ratio: 1/1;
          background-size: 200% 200%;
          background-repeat: no-repeat;
          background-color: rgba(0, 0, 0, 0.6);
          // z-index: 200;
        }
      }
    }
  }
}
